<div class="row">
  <div class="col-md-12">
    <h1 class="page-header">Editando comentario</h1>
  </div>
</div>

<%= render 'form' %>

<div class="row">
  <div class="col-md-2 col-md-offset-5">
  	<div class="btn-group btn-group-justified" role="group" aria-label="...">
  		<%= link_to 'Mostrar', @opinion, class: "btn btn-default" %>
  		<%= link_to 'Volver', opinions_path, class: "btn btn-default" %>
	</div>
  </div>
</div>