<div class="row">
  <div class="col-md-12">
    <h1 class="page-header">Comentario nuevo</h1>
  </div>
</div>

<%= render 'form' %>

<div class="row">
  <div class="col-md-2 col-md-offset-5">
    <%= link_to 'Volver', opinions_path, class: "btn btn-default btn-block" %>
  </div>
</div>